<!-- <main> -->
    <div class="addon-page-container">
        <pep-top-bar [title]="title">
            <div pep-list-actions>
                <ng-content select="[left-buttons]"></ng-content>
            </div>
            <div  header-end-content>
                <ng-content select="[right-buttons]"></ng-content>
            </div>
            <pep-list-actions [actions]="menuActions" (actionClick)="onMenuItemClicked($event)"></pep-list-actions>
            <pep-list-total [totalRows]="customList ? customList.totalRows : -1"></pep-list-total>
        </pep-top-bar>
        <div class="main-content "> 
            <div class="content">
                <div class="list-container" #listContainer>
                    <pep-list [supportSorting]="false" [supportResizing]="true" [pagerType]="'scroll'"
                        [selectionTypeForActions]="'single'" [noDataFoundMsg]="'No data'" [parentScroll]="listContainer"
                        (fieldClick)="onCustomizeFieldClick($event)"
                        (selectedItemsChange)="selectedRowsChanged($event)">
                    </pep-list>
                </div>
            </div>
    
        </div>
    </div>